<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ static_url("base.css") }}" />
    </head>
    <body>
 
        <div class="changepassword">
            {% if user is not None %}
                    <form action="/password/{{ user['resetkey'] }}" method="post">
                        username: <input type="text" name="username"/><br/>
                        password: <input type="text" name="newpassword"/><br/>
                        <input type="submit" value="Update"/>
                        {% module xsrf_form_html() %}
                    </form>
            {% else %}
                Invalid Key
            {% end %}
        </div>

    </body>
</html>
